@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

//  ============= Variables ==============
$font:  Architects Daughter;


html, body, h1, h2, h3, h4, h5, h6 {
  background-color: #AAAAAA;
  text-align:center;
  font-family: $font;
}

// ================== Display Google Maps ===============
.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}
.row {
  height: 500px;
}

// ================ Map-Area  ==============
#map-area {
  width: 400px;
}



// ============== Side-Nav ======================

.side-nav {
  border: 3px solid #000;
  padding: 5px;
  padding-top: 10px;
  width: 200px;
  }

//============ Side-Nav 2 =====================
.side-nav2 {
  border: 5px solid lime;
  width: 200px;
}